<div class={["flex flex-row-reverse w-full text-white p-4"]}>
  <.link href={~p"/contact"} class="p-5">Contact</.link>
  <.link href={~p"/projects"} class="p-5">Projects</.link>
  <.link href={~p"/skills"} class="p-5">Skills</.link>
  <.link href={~p"/about"} class="p-5">About</.link>
  <.link href={~p"/"} class="p-5">Home</.link>
</div>

