<.form :let={f} for={@changeset} action={@action}>
  <.input field={f[:title]} type="text" label="Title" />
  <.input field={f[:description]} type="text" label="Description" />
  <.input field={f[:repo]} type="text" label="Repo" />
  <.input field={f[:live]} type="text" label="Live" />
  <footer>
    <.button variant="primary">Save Project</.button>
    <.button :if={@return_to} href={@return_to}>Cancel</.button>
  </footer>
</.form>
