<Layouts.app flash={@flash}>
  <.header>
    Edit Skill {@skill.id}
    <:subtitle>Use this form to manage skill records in your database.</:subtitle>
  </.header>

  <.skill_form
    changeset={@changeset}
    action={~p"/admin/skills/#{@skill}"}
    return_to={~p"/admin/skills"}
    categories={@categories}
  />
</Layouts.app>
